{% extends "base.html" %}

{% block title %} Change word {% endblock %}

{% block content %}
    <style>
        .space_div {
            width: 0.3em;
        }
    </style>

    <form action="/change-word/{{ word }}/{{ translation }}" method="POST">
        <br>
        <p class="text-secondary">Word:</p>
        <input type="text" class="form-control" placeholder="Word" name="word" value="{{ word }}" autocomplete="off">
        <br>
        <p class="text-secondary">Translation:</p>
        <input type="text" class="form-control" placeholder="Translation" name="translation" value="{{ translation }}" autocomplete="off">
        <br>
        <p class="text-secondary">Definition:</p>
        <input type="text" class="form-control" placeholder="Definition" name="definition" value="{{ definition }}" autocomplete="off">
        <br>
        <div class="d-flex justify-content-end">
            <input type="submit" class="btn btn-success ml-3" value="Change word">
            <div class="space_div"></div>
            <a class="btn btn-primary" href="/see-words">Cancel</a>
        </div>
    </form>
{% endblock %}