{% extends "base.html" %}

{% block title %} Words {% endblock %}

{% block content %}
    <br><br><br>
    <div class="d-flex justify-content-center">
        <a class="btn btn-lg btn-primary" href="/learn-words/0">All words</a>
    </div>
    <br><br>
    <div class="d-flex justify-content-center">
        <a class="btn btn-lg btn-info" href="/learn-words/100">100 words</a>
    </div>
    <br><br>
    <div class="d-flex justify-content-center">
        <a class="btn btn-lg btn-success" href="/learn-words/25">25 words</a>
    </div>
{% endblock %}