{% extends "base.html" %}

{% block title %} Words {% endblock %}

{% block content %}
    <br><br><br>
    <div class="d-flex justify-content-center">
        <a class="btn btn-lg btn-primary" href="/see-words">See words</a>
    </div>
    <br><br>
    <div class="d-flex justify-content-center">
        <a class="btn btn-lg btn-info" href="/learn-words-levels">Learn words</a>
    </div>
    <br><br>
    <div class="d-flex justify-content-center">
        <a class="btn btn-lg btn-success" href="/add-word">Add word</a>
    </div>
{% endblock %}